{% extends "layout.html" %}

{% block body %}
<div class="container">
    <hr/><br/><br/><br/>
    <center>
        
        {% for activity in uploaded %}
            <div class="activity" style="text-align: left; padding-left:500px; padding-right:500px">
                <p><strong>{{ activity["file"] }}</strong> </p> 
                <p> {{ activity["status"] }}</p>
                <hr/>
            </div>
        {% endfor %}

        {% for activity in activities %}
            <div class="activity" style="text-align: left; padding-left:500px; padding-right:500px">
                <form action="/upload" method="post" style="display: inline">
                    <p><strong>{{ activity }}</strong></p>
                    <input type="hidden" name="filename" value={{activity}}>

                    <label for="name">Name:</label>
                    <input autocomplete="off" autofocus name="name" placeholder="Activity name" type="text">
                    <label for="description">Description:</label>
                    <input autocomplete="off" autofocus name="description" placeholder="Description" type="text">
                    <select name="activity_type">
                        <option disable selected>Activity type</option>
                        <option value="ride">Ride</option>
                        <option value="run">Run</option>
                        <option value="walk">Walk</option>
                    </select>
                    <input type="submit" value="Upload"/>  
                </form>
                <form action="/move-file" method="post" style="display: inline">
                    <input type="hidden" name="filename" value={{activity}}>
                    <input type="submit" value="Move file"/>
                </form>
                <br/><br/><hr/>
            </div>      
        {% endfor %}

    </center>
</div>
{% endblock %}