{% extends "layout.html" %}

{% block body %}
<div class="container">
    <hr/><br/><br/><br/>
    <center>
        <h4>Authenticating...</h4>

        {% if result == True %}
            <p>Authentication was successfull.</p>
            <button type="button"><strong>Upload</strong></button>
        {% else %}
            <p>There was an error during the authentication.</p>
            <button type="button"><strong>Authenticate</strong></button>
        {% endif %}

    </center>
</div>
{% endblock %}